table{
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

table th {
    word-wrap: break-word;
    text-align: center;
    background-color: #2E417F;
    color: #FFF;
}

th.eevent{
    width: 3%
}

th.llaunch, th.oout, th.rrecover {
    width: 5%;
}

th.ccallsign {
    width: 10%
}

th.ttimes{
    width: 12%;
}

th.aaircraft {
    width: 6%
}

th.mmission {
    width:8%;
}

th.aaircrew {
    width: 20%
}

th.rremarks {
    width: 26%;
}

table td {
    border: 1px solid #000000;
    padding: 4px 8px;
}

form {
    tr:nth-child(odd) td{
        background-color: #666666;
    }
}

input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #FFF;
    background: transparent;
    border: none;
    outline-width: 0;
}

input.rmks {
    text-align: left;
}