body {
    background-color:  #4B4E53;
    color: #C0C3CA;
    width: 100vw;
    margin: 0;
    padding: 0;

}

a{
    color: #4B4E53;
}


#cover_photo{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
  }
  
#cover{
    height:100%;
    width:100%;
}


/* .park-card {
    min-width: 12.5%;
} */

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .park-card {
      min-width: 50%;
    }
  }

#skedtable{
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

#skedheader{
    text-align: center;
    font-weight: bold;
    background-color: #2E417F;
    color: #FFF;
}

#skedtable th {
    word-wrap: break-word;
    text-align: center;
    font-weight: bold;
    background-color: #2E417F;
    color: #FFF;
    position: sticky;
    top: 0;
}

#skedtable td {
    font-size: 80%;
    padding: 0;
    margin: 0;
}

#skedtable th.hide{
    width: 1%;
    }

#skedtable th.eevent{
    width: 3%;
}

#skedtable th.llaunch, th.oout, th.rrecover {
    width: 4%;
}

#skedtable th.ccallsign {
    width: 8%;
}

#skedtable th.ttimes{
    width: 12%;
}

#skedtable th.aaircraft {
    width: 4%;
}

#skedtable th.mmission {
    width:8%;
}

#skedtable th.aaircrew {
    width: 22%;
}

#skedtable th.ttrack{
    width: 5%;
}

#skedtable th.ttac {
    width: 2%;
}

#skedtable th.rremarks {
    width: 23%;
}

#skedtable td {
    border: 1px solid #000000;
    padding: 0px 4px 0px 8px;
    height: 10px;
}

input[name="evt"],[name="cs"],[name="tm"],[name="ac"],[name="acrw"],[name="msn"],[name="lnch"],[name="out"],[name="rcvr"],[name="trk"], [name="tac"], [name="rmks"]{
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    padding: 0px;
    margin 0px;
    text-align: center;
    font-weight: 625;
    font-size: 105%;
    color: #FFF;
    background: transparent;
    border: none;
    outline: none;
}

input[name="rmks"]{
    text-align: left;
}
