body {
    background-color:  #4B4E53;
    color: #C0C3CA;
    width: 100vw;
    margin: 0;
    padding: 0;

}

a{
    color: #4B4E53;
}


#cover_photo{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
  }
  
#cover{
    height:100%;
    width:100%;
}


/* .park-card {
    min-width: 12.5%;
} */

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .park-card {
      min-width: 50%;
    }
  }