table{
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

table th {
    word-wrap: break-word;
    text-align: center;
    font-weight: bold;
    background-color: #2E417F;
    color: #FFF;
}

table td {
    font-size: 80%;
    padding: 0;
    margin: 0;
}

th.eevent{
    width: 3%
}

th.llaunch, th.oout, th.rrecover {
    width: 5%;
}

th.ccallsign {
    width: 10%
}

th.ttimes{
    width: 12%;
}

th.aaircraft {
    width: 6%
}

th.mmission {
    width:8%;
}

th.aaircrew {
    width: 20%
}

th.rremarks {
    width: 26%;
}

table td {
    border: 1px solid #000000;
    padding: 0px 4px 0px 8px;
    height: 10px;
}

input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    padding: 0px;
    margin 0px;
    text-align: center;
    font-weight: 600;
    color: #FFF;
    background: transparent;
    border: none;
    outline: none;
}

textarea {
  background: transparent;
  color: white;
  box-sizing: border-box;
  border: none;
  width: 100%;
  max-height: 100%;
  font-size: 75%;
  outline: none;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  resize: none;

}
