<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VFA 122 Duty Portal</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/69cef6d01d.js"></script>
    <script src="https://unpkg.com/moment"></script>
    <meta http-equiv="refresh" content="{{settings.refresh}}" />

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">VFA-122 Duty Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item {%if request.path == '/schedule'%}active{%endif%}">
                    <a class="nav-link" href="/schedule">Schedule</a>
                </li> -->
                <li class="nav-item {%if request.path == '/parking'%}active{%endif%}"">
                    <a class=" nav-link" href="/parking">Parking</a>
                </li>
                <li class="nav-item {%if request.path == '/jets'%}active{%endif%}"">
                    <a class=" nav-link" href="/jets">Jets</a>
                </li>
                <li class="nav-item {%if request.path == '/schedule'%}active{%endif%}"">
                    <a class=" nav-link" href="/schedule">Schedule</a>
                </li>
                <li class="nav-item {%if request.path == '/settings'%}active{%endif%}"">
                    <a class=" nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item {%if request.path == '/logout'%}active{%endif%}"">
                    <a class=" nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item {%if request.path == '/logout'%}active{%endif%}"">
                    <a id="chat_toggle" class="nav-link">Chat</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                    <li>
                        <a id="clock2" style="font-size: 110%" class="nav-link"></a>
                    </li>
                    <li>
                        <a id="clock" style="font-size: 110%" class="nav-link">3, 2, 1, Hack</a>
                    </li>
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle"
                            style="background-color:transparent; border:none; color:#999999; font-size: 110%; font-weight: 475"
                            href="#" role="button" id="dropdownMenuLink" name="dropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Quick Links</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href={{settings.link1address}}
                                target="_blank">{{settings.link1name}}</a>
                            <a class="dropdown-item" href={{settings.link2address}}
                                target="_blank">{{settings.link2name}}</a>
                            <a class="dropdown-item" href={{settings.link3address}}
                                target="_blank">{{settings.link3name}}</a>
                            <a class="dropdown-item" href={{settings.link4address}}
                                target="_blank">{{settings.link4name}}</a>
                            <a class="dropdown-item" href={{settings.link5address}}
                                target="_blank">{{settings.link5name}}</a>
                            <a class="dropdown-item" href={{settings.link6address}}
                                target="_blank">{{settings.link6name}}</a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid m-0 p-0">
        <div class="m-0 p-0 row">

            <div id="chatbox_div" class="d-none col-2 m-0 p-1">
                <!-- HERE IS THE CHAT STUFF  -->

                <div class="d-flex flex-column">
                    <textarea id="panelBody" class="border rounded align-items-start bg-white text-dark px-1"
                        spellcheck="false" rows="15" style="text-align:left; overflow:scroll;">{%for msg in settings.messages%}
{{msg}}{%endfor%}</textarea>

                    <form class="mt-2" action="/message" autocomplete="off" method="POST">
                        <div class="d-flex align-items-end">
                            <div class="col p-0 ">
                                <input type="text" name="new_message" class="form-control" placeholder="Message">
                                <input type="text" name="cur_path" class="d-none form-control" value="{{request.path}}">
                            </div>
                            <div class="p-0 m-0 form-row">
                                <button class="btn btn-success btn-lsm">Send</button>
                            </div>
                        </div>
                    </form>
                    <form class="mt-2" action="/message/delete" autocomplete="off" method="POST">
                        <button class="btn btn-primary btn-lsm m-2">Clear Messages</button>
                        <input type="text" name="cur_path" class="d-none form-control" value="{{request.path}}">
                    </form>
                </div>

                <!-- DONE WITH THE CHAT STUFF -->
            </div>

            <div id="main_content_div" class="col-12 col-lg-12 p-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>



    <script>
        function update() {
            $('#clock').html(moment().utc().format('H:mm:ss'));
            $('#clock2').html(moment().utc({{settings.clockoffset}}).format('H:mm:ss'));
        }
        setInterval(update, 1000);
        var interval = 3000; //3 seconds
        function recvMessage() {
            $.ajax({
                url: "/_update_messages",
                type: "GET",
                success: function (result) {
                    $("#panelBody").html(result);
                },
                complete: function (result) {
                    setTimeout(recvMessage, interval);
                }
            });
            var textarea = document.getElementById('panelBody');
            textarea.scrollTop = textarea.scrollHeight;
        }
        $(document).ready(function () {
            setTimeout(recvMessage, interval);
        });
        var textarea = document.getElementById('panelBody');
        textarea.scrollTop = textarea.scrollHeight;
        $('#chat_toggle').click(function(){
            $('#chatbox_div').toggleClass('d-lg-block');
            $('#main_content_div').toggleClass('col-lg-10 col-lg-12');
            $('#chat_toggle').toggleClass('active');
        });
    </script>

</body>

</html>