{% extends "base.html" %}

{% block content %}

<!--<button id="flyingBtn" class="m-1 btn btn-primary">Show Flying Jets</button>
<button id="upBtn" class="m-1 btn btn-success">Show Up Jets</button>
<button id="fuelBtn" class="m-1 btn btn-warning">Show Fueling Jets</button>
<button id="downBtn" class="m-1 btn btn-danger">Show Down Jets</button>
<button id="allBtn" class="m-1 btn btn-light">Show All</button>-->

</hr>

<div class="mt-5 container-fluid m-0 p-0 card-deck">
    <div class="row">
        {% for jet in jets %}

        <div style="min-width: 200px;" class="col-sm-4 col-md-3 col-lg-2">

            <div class="rounded m-1 p-1 shadow-lg jets text-center text-white
        {% if jet.side != 0 %}
            {% if not jet.flying %}
                {% if jet.status %} 
                    {% if jet.fuel  and jet.dta  and  jet.arm %}
                        bg-success 
                    {%else %}
                        bg-warning 
                    {%endif%}
                {% else %}
                    bg-danger
                {% endif %}
            {% else %}
                bg-primary
            {% endif %}    
        {% else %}
            bg-dark
        {% endif %}
            ">

                <h5 class="row m-0">
                    <div class="col-3">
                        <!-- <a href="/edit/{{jet.id}}"><i class="text-white far fa-edit"></i></a> -->
                    </div>
                    <div class="col-6 text-center">{{ jet.side }}</div>
                    <div class="col-3"><a href="/remove/{{jet.id}}"><i class="text-white far fa-trash-alt"></i></a>
                    </div>
                </h5>

                <div class="p-1 card-body">

                    <form class="py-1" action="/jet_edit/{{jet.id}}" autocomplete="off" method="POST">

                        <div class="form-check form-check-inline">
                            <input onchange="this.form.submit()" class="form-check-input" type="checkbox" name="fuel"
                                {% if jet.fuel %} checked {%endif%}>
                            <label class="form-check-label" for="fuel">FUEL</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input onchange="this.form.submit()" class="form-check-input" type="checkbox" name="dta"
                                {% if jet.dta %} checked {%endif%}>
                            <label class="form-check-label" for="dta">DTA</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input onchange="this.form.submit()" class="form-check-input" type="checkbox" name="arm"
                                {% if jet.arm%} checked {%endif%}>
                            <label class="form-check-label" for="arm">ARM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input onchange="this.form.submit()" class="form-check-input" type="checkbox" name="status"
                                {% if jet.status %} checked {%endif%}>
                            <label class="form-check-label" for="status">UP</label>
                        </div>
                        <div class="col px-1">
                            <input name="ordnance" onchange="this.form.submit()" type="text"
                                class="form-control-sm form-control" placeholder="Ordnance" value="{{jet.ordnance}}">
                        </div>
                        <div class="col px-1">
                            <textarea name="remarks" onchange="this.form.submit()" type="text" class="form-control form-control-sm"  placeholder="Rmks">{{jet.remarks}}</textarea>
                        </div>

                        <div class="pt-1 form-group row">
                            <label for="colFormLabelSm"
                                class="col-sm-2 col-form-label col-form-label-sm">Parking:</label>
                                <div class="col-sm-2"></div>
                            <div class="col-sm-6">
                                
                                <input onchange="this.form.submit()" type="text" class="form-control form-control-sm" name="parking"
                                    value="{{jet.parking}}">
                            </div>
                        </div>
                    </form>














                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
<form class="py-5 form-inline" action="/jets/add" autocomplete="off" method="POST">


    <input type="text" class="form-control form-control-lg" name="new_side"
        placeholder = "New Side #" value="">
    <button class="btn btn-success btn-lg">Add Jet</button>

</form>


<script>

    $(document).ready(function () {
        $("#flyingBtn").click(function () {
            $(".jets").parent().hide();
            $(".bg-primary").parent().show();
        });

        $("#upBtn").click(function () {
            $(".jets").parent().hide();
            $(".bg-success").parent().show();
        });

        $("#downBtn").click(function () {
            $(".jets").parent().hide();
            $(".bg-danger").parent().show();
        });

        $("#fuelBtn").click(function () {
            $(".jets").parent().hide();
            $(".bg-warning").parent().show();
        });

        $("#allBtn").click(function () {
            $(".jets").parent().show();
        });
    });
</script>
{% endblock %}