 	 	 	<link rel="stylesheet" href="/static/style2.css" type="text/css">


<form action="/login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
<h2 style="font-size:70%">*Optimized For Chrome*</h2>
<h3 style="font-size:40%">Terms & Conditions:
This website uses cookies to enhance user functionality.  This website is “unclassified” and all information shall be treated as FOUO.  In no case will the website designers and managers be held responsible for any misuse and/or loss of any information to include chat and aircraft data.  Maintenance of website services will be conducted to a reasonable extent to repair discrepancies, however limitless functionality is not guaranteed.  Questions or concerns can be directed to the troubleshooting address on the “Settings” page.
</h3>

</div>
</div>
</div>
</form>
