{% extends "base.html" %}

{% block content %}



<div style="min-width: 100%" class="card-deck container-fluid my-0 mx=0 px-2 py-1">


    <div class="row mx-auto">

        {% for jet in jets %}

        <div style="min-width:{{100/settings.per_row}}%" class="park-card p-0 mx-0 my-1 card text-center text-white
        {% if jet.side != '-' %}
            {% if not jet.flying %}
                {% if jet.status %} 
                    {% if jet.fuel and jet.dta and jet.arm %}
                        bg-success 
                    {%else %}
                        bg-warning 
                    {%endif%}
                {% else %}
                    bg-danger
                {% endif %}
            {% else %}
                bg-primary
            {% endif %}    
        {% else %}
            bg-dark
        {% endif %}
            ">

            <div class="text-left card-header py-1" onload="myFunction()">{{jet.parking}}
            {%if jet.side != '-' %}
                {% if jet.flying %}
                <a href="/land/{{jet.id}}"><i class="text-white pl-4 pr-2 fas fa-plane-arrival"></i></a>
                {%endif%}
                {% if not jet.flying %}
                <a href="/fly/{{jet.id}}"><i class="text-white pl-4 pr-2 fas fa-plane-departure"></i></a>
                {%endif%}
                <!-- <a href="/edit/{{jet.id}}"><i class="px-w text-white far fa-edit"></i></a> -->
            {%endif%}
            </div>


            <div class="card-body p-0">
                {% if jet.side == '-' %}
                <form  class="py-0" action="/park/{{jet.parking}}" autocomplete="off" method="POST">
                    <select name="id_landed" onchange="this.form.submit()">
                        <option value="">-</option>
                        {% for jet in jets %}
                        {%if jet.side != '-' %}
                        <option value="{{jet.id}}">{{jet.side}}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </form>
                {% else %}
                <h2 class="m-0 card-title">{{ jet.side }}</h5>
                {% endif %}


                {%if jet.side != '-' %}

                <form  class="py-0" action="/park_edit/{{jet.id}}" autocomplete="off" method="POST">

                    <div class="form-check form-check-inline">
                        <input onchange="this.form.submit()" style="font-size:60%" class="form-check-input mx-1 my-0 p-0" type="checkbox" name="fuel"{% if jet.fuel %} checked
                            {%endif%}>
                        <label class="form-check-label" for="fuel">FUEL</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input onchange="this.form.submit()" style="font-size:60%" class="form-check-input mx-1 my-0 p-0" type="checkbox" name="dta"{% if jet.dta %} checked
                            {%endif%}>
                        <label class="form-check-label" for="dta">DTA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input onchange="this.form.submit()"
                               "class="form-check-input mx-1 my-0 p-0" type="checkbox" name="arm"{% if jet.arm %} checked

                            {%endif%}>
                        <label class="form-check-label" for="arm">ARM</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input onchange="this.form.submit()" style="font-size:60%" class="form-check-input mx-1 my-0 p-0" type="checkbox" name="status" {% if jet.status %}
                            checked{%endif%}>
                        <label class="form-check-label" for="status">UP</label>
                    </div>
                    <div class="col px-1">
                            <input name="ordnance" onchange="this.form.submit()" type="text" class="form-control form-control-sm my-0"  placeholder="Ordnance" value="{{jet.ordnance}}">
                    </div>
                    <div class="col px-1">
                        <textarea name="remarks" onchange="this.form.submit()" type="text" class="form-control form-control-sm my-0" placeholder="Rmks">{{jet.remarks}}</textarea>
                    </div>
                </form>


                {%endif%}
            </div>
        </div>


        {% endfor %}
    </div>
</div>
{% endblock %}