<!DOCTYPE html>
<html>

<link rel="stylesheet" href="static/style3.css">

{% extends "base2.html" %}

{% block content %}

</head>
<table id="skedtable" spellcheck="false" contenteditable>
  <tr>
      <th colspan="10" style="font-size: 150%">VFA-122 FLIGHT SCHEDULE</th>
  </tr>
  <tr>
      <th class="eevent">EVT</th>
      <th class="ccallsign">C/S</th>
      <th class="ttimes">BRF/TO/LND</th>
      <th class="aaircraft">AIRCRAFT</th>
      <th class="aaircrew">AIRCREW</th>
      <th class="mmission">MSN</th>
      <th class="llaunch">LNCH</th>
      <th class="oout">10-OUT</th>
      <th class="rrecover">RCVR</th>
      <th class="rremarks">REMARKS</th>
  </tr>

    {% for line in skeds %}
    <tr>
        <td>{{skeds.evt}}</td>
        <td>{{skeds.callsign}}</td>
        <td>{{skeds.times}}</td>
        <td>{{skeds.aircraft}}</td>
        <td>{{skeds.aircrew}}</td>
        <td>{{skeds.mission}}</td>
        <td>{{skeds.launch}}</td>
        <td>{{skeds.out}}</td>
        <td>{{skeds.recover}}</td>
        <td>{{skeds.remarks}}</td>
    </tr>
    {% endfor %}

  <script>
  var table = document.getElementById('skedtable'), tr, td, row, cell;
    for (row = 0; row < 80; row++) {
        tr = document.createElement('tr');
        for (cell = 0; cell < 10; cell++) {
            td = document.createElement('td');
            tr.appendChild(td);
            td.innerHTML = row;
        }
        table.appendChild(tr);
    }

  </script>


</table>



{% endblock %}

</html>