<!DOCTYPE html>
<html>

<link rel="stylesheet" href="static/style3.css">

{% extends "base2.html" %}

{% block content %}

</head>
<table id="skedtable" spellcheck="false">
  <tr>
      <th colspan="10" style="font-size: 150%">VFA-122 FLIGHT SCHEDULE</th>
  </tr>
  <tr>
      <th class="eevent">EVT</th>
      <th class="ccallsign">C/S</th>
      <th class="ttimes">BRF/TO/LND</th>
      <th class="aaircraft">AIRCRAFT</th>
      <th class="aaircrew">AIRCREW</th>
      <th class="mmission">MSN</th>
      <th class="llaunch">LNCH</th>
      <th class="oout">10-OUT</th>
      <th class="rrecover">RCVR</th>
      <th class="rremarks">REMARKS</th>
  </tr>

    {% for line in sked %}
    <form action="/sked_edit/{{line.id}}" autocomplete="off" method="POST">
    <tr>
        <td><input name="evt" onchange="this.form.submit()" type="text" value="{{line.evt}}"></td>
        <td><input name="cs" onchange="this.form.submit()" type="text" value="{{line.callsign}}"></td>
        <td><input name="tm" onchange="this.form.submit()" type="text" value="{{line.times}}"></td>
        <td><input name="ac" onchange="this.form.submit()" type="text" value="{{line.aicraft}}"></td>
        <td><input name="acrw" onchange="this.form.submit()" type="text" value="{{line.aircrew}}"></td>
        <td><input name="msn" onchange="this.form.submit()" type="text" value="{{line.mission}}"></td>
        <td><input name="lnch" onchange="this.form.submit()" type="text" value="{{line.launch}}"></td>
        <td><input name="out" onchange="this.form.submit()" type="text" value="{{line.out}}"></td>
        <td><input name="rcvr" onchange="this.form.submit()" type="text" value="{{line.recover}}"></td>
        <td><input class="rmks" name="rmks" onchange="this.form.submit()" type="text" value="{{line.remarks}}"></td>
    </tr>
    </form>
    {% endfor %}

</table>



{% endblock %}

</html>