<!DOCTYPE html>
<html>

<link rel="stylesheet" href="static/style3.css">

{% extends "base2.html" %}

{% block content %}

</head>
<table id="skedtable" spellcheck="false" contenteditable>
  <tr>
      <th colspan="10" style="font-size: 150%">VFA-122 FLIGHT SCHEDULE</th>
  </tr>
  <tr>
      <th class="eevent">EVT</th>
      <th class="ccallsign">C/S</th>
      <th class="ttimes">BRF/TO/LND</th>
      <th class="aaircraft">AIRCRAFT</th>
      <th class="aaircrew">AIRCREW</th>
      <th class="mmission">MSN</th>
      <th class="llaunch">LNCH</th>
      <th class="oout">10-OUT</th>
      <th class="rrecover">RCVR</th>
      <th class="rremarks">REMARKS</th>
  </tr>

    {% for line in sked %}
    <tr>
        <td>{{line.evt}}</td>
        <td>{{line.callsign}}</td>
        <td>{{line.times}}</td>
        <td>{{line.aircraft}}</td>
        <td>{{line.aircrew}}</td>
        <td>{{line.mission}}</td>
        <td>{{line.launch}}</td>
        <td>{{line.out}}</td>
        <td>{{line.recover}}</td>
        <td>{{line.remarks}}</td>
    </tr>
    {% endfor %}

</table>



{% endblock %}

</html>