{% extends "base.html" %}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 p-5 m-5 card bg-primary text-white shadow-lg">
            <h1 class="p-2" style="font-size:110%; text-align:center;">**Changes will affect all website users!**</h1>
        <form action="/settings" method='POST' class="form-column">
            <div class="form-group row">
                <label for="rows"  style="text-align:right" class="col-sm-4 col-form-label">Parking Rows:</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="rows" name="rows" value={{settings.rows}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <label for="per_row"  style="text-align:right" class="col-sm-4 col-form-label">Jets Per Row:</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="per_row" name="per_row" value={{settings.per_row}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <label for="msg_lines"  style="text-align:right" class="col-sm-4 col-form-label">Number of Messages Displayed:</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="msg_lines" name="msg_lines"
                        value={{settings.msg_lines}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Page Refresh Interval:</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="refresh" name="refresh" value={{settings.refresh}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 1 Name:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" autocomplete="off" id="link1name" name="link1name" value={{settings.link1name}}>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 1 Address:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" autocomplete="off" id="link1address" name="link1address" value={{settings.link1address}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 2 Name:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" autocomplete="off" id="link2name" name="link2name" value={{settings.link2name}}>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 2 Address:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" autocomplete="off" id="link2address" name="link2address" value={{settings.link2address}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 3 Name:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" autocomplete="off" id="link3name" name="link3name" value={{settings.link3name}}>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 3 Address:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" autocomplete="off" id="link3address" name="link3address" value={{settings.link3address}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 4 Name:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" autocomplete="off" id="link4name" name="link4name" value={{settings.link4name}}>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 4 Address:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" autocomplete="off" id="link4address" name="link4address" value={{settings.link4address}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 5 Name:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" autocomplete="off" id="link5name" name="link5name" value={{settings.link5name}}>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 5 Address:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" autocomplete="off" id="link5address" name="link5address" value={{settings.link5address}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 6 Name:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" autocomplete="off" id="link6name" name="link6name" value={{settings.link6name}}>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group row">
                <label for="refresh"  style="text-align:right" class="col-sm-4 col-form-label">Quick Link 6 Address:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" autocomplete="off" id="link6address" name="link6address" value={{settings.link6address}}>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 text-center">
                    <button type="submit" class="m-4 btn btn-light">Update Settings</button>
                </div>
            </div>






        </form>
        <div class="col-md-5"></div>
    </div>
    </div>
</div>










{%endblock%}